body {
    font-family: 'Lato', sans-serif;
}
.theme-navbar{
    background-color: #0066cc;
}
.theme-navbar-light{
    background-color: #8dc3f9;
}
.theme-orange-btn{
    background-color: #ff6600;
}
.theme-orange-btn:hover{
    background-color: #ff6600;
    opacity: 0.8;
}
.theme-green-btn{
    background-color: #00cc66;
}
.theme-green-btn:hover{
    background-color: #00cc66;
    opacity: 0.8;
}
.theme-footer{
    background-color: #0066cc;
}
.theme-product img:hover{
transform: scaleX(-1);
}